*,body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{
  --blue:#409EFF;
  --green:#67C23A;
  --yellow:#E6A23C;
  --red:#F56C6C;
  --grey:#909399;
  --black:#303133;
  --border:#E4E7ED;
  --border-bottom:#ebe9e9;
  --white:#FFFFFF;
  --tips:#444444;
  --bg:#f6f8fb;
  --navbg:#409EFF;
}

.test-enter-active,
.test-leave-active {
  transition: opacity 0.3s;
}
.test-enter,
.test-leave-active {
  opacity: 0;
}
.cell{
  text-align: center;
}
